.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid whitesmoke;
  font: 1rem;
  font-weight: 900;
}
.header a {
  text-decoration: none;
  color: #ed0480;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(5, 40, 101);
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.nav-items > ul > li {
  padding: 1rem;
}

.logo {
  width: 5rem;
  margin-bottom: -50px;
  padding: 5px;
}
.menu {
  border: 1px solid silver;
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.3rem;
  padding: 0.6rem;
  width: max-content;
}
.menu-list {
  display: inline-block;
  border: 1px solid #ed0480;
}
.menu-list > ul {
  list-style-type: decimal;
  padding: 1rem;
  display: block;
}
.menu-list > ul > li {
  padding: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  flex-flow: column;
}
.resturant-details {
  border-left: 1px solid silver;
  display: block;
  margin: 1rem;
  padding: 4rem;
}
.res-identifier {
  font-size: 30px;
  font-weight: 900;
}
.res-location {
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
  display: block;
}
.menu span {
  font-size: xx-small;
  padding: 0.2rem;
}
.menu > img {
  width: 300px;
  height: fit-content;
}

.menu-link {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 16rem;
  padding: 0.5rem;
  margin: 0.2rem;
  font: 1em;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  flex-basis: 0;
  flex-grow: 1;
}
.card:hover {
  box-shadow: 1px 0px 6px 1px silver;
  border-bottom: 4px solid #ed0480;
}

a {
  text-decoration: none;
  color: rgb(5, 40, 101);
}

.card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.search-container {
  padding: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.search-input {
  padding: 10px;
  border: 2px solid silver;
  border-radius: 5px;
  width: 20rem;
  color: rgb(5, 40, 101);
  font-size: small;
  font-weight: 200;
}
.search-btn {
  padding: 10px;
  margin: 6px;
  background: #ed0480;
  color: seashell;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.auth-btn {
  padding: 6px;
  background: #ed0480;
  color: seashell;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  width: 7.5rem;
  margin: 1.5rem;
}
.footer {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e9e9e9;
  font-weight: 800;
  font: 1.5em;
  align-items: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .card .header .footer .msg-brd .nav-items .search-btn .auth-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 800px) {
  .card .header .footer .msg-brd .nav-items .search-btn .auth-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
.msg-brd {
  display: flex;
  justify-content: center;
  align-items: center;
}
